.container
{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 600px;
    height: 650px;
    background: rgba(244, 244, 248, 0.4) ;
      /* background: rgb(76, 166, 244); */
    border-radius: 40px;
    box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.112),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.162),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.2),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.238),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.288),
  100px 100px 80px rgba(0, 0, 0, 0.4);
  /* transition: 1s ease-in-out; */
    /* padding-bottom: 30px; */
}
.box{
    display: flex;
  /* transition: 1s ease-in-out; */

    
}

/* .relocated {
    flex-direction: row;
  } */
.icon-container{
    margin: 0% 0% 0% 0%;
  /* transition: 1s ease-in-out; */

    
}
.icon-container img{
    width: 48rem;
    height: 100vh;
    /* border-radius: 50%; */
}
.header
{
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    margin-left: 70px;
}
.text
{
    color: white;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif; 
    font-weight: 700;

}
.underline
{
    /* align-items: center;
     */
     margin-left: 2px;
    width: 61px;
    height: 6px;
    background: white;
    border-radius: 9px;
}
.inputs
{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 50px;
}
.input
{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 70px;
    /* border: solid rgb(25, 152, 232) 3px; */
    background: #eaeaea;
    border-radius: 6px;
}
.input img{
    margin: 0px 30px
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}
.forgot-password
{
    padding-left: 62px;
    margin-top: 27px;
    columns: grey;
    font-size: 18px;

}
.forgot-password span
{
    color: grey;
    cursor: pointer;
}
.submit-container
{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submit
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: black;
    background: rgb(30, 136, 229);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
}
.gray
{
    background: #EAEAEA;
    color: #676767;

}